Automations/n8n/Invoice Processing Workflow.json
{
  "name": "Invoice Processing Workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yPLqe2jPD6e8khtS-XBZc3LYp18_PXlQ",
          "mode": "list",
          "cachedResultName": "Unprocessed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yPLqe2jPD6e8khtS-XBZc3LYp18_PXlQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "f00239e6-b731-494f-bd03-9da62e1f4a5c",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQIRRSYgu0qZaozr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "6717a7b7-9801-464c-aab5-329d284f8647",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQIRRSYgu0qZaozr",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloud.llamaindex.ai/api/parsing/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer llx-3pityHwfBZ3OCuDz99pHgUKMGti0ctIvHHx0more9LPbo3Xp"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "d72e6a1f-469d-4809-8b46-718acbf30173",
      "name": "Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        -176
      ],
      "notes": "POST: https://api.cloud.llamai..."
    },
    {
      "parameters": {},
      "id": "9eca11e3-49c5-4a40-b3a0-8a103fa37c19",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        48,
        -176
      ],
      "webhookId": "wait-webhook-id"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Upload').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer llx-3pityHwfBZ3OCuDz99pHgUKMGti0ctIvHHx0more9LPbo3Xp"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c2aa3b-b7dd-4db9-b509-c6d7e256a9c5",
      "name": "Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "SUCCESS",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "04ba40b8-249c-419c-9423-aa971abe93ae"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SUCCESS"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2f46438e-3a1f-4489-96ab-4e029f474b8f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PENDING"
            }
          ]
        },
        "options": {}
      },
      "id": "fb3f7858-b452-492a-acc8-406e54fda6f2",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        496,
        -176
      ],
      "notes": "mode: Rules"
    },
    {
      "parameters": {
        "url": "=https://api.cloud.llamaindex.ai/api/parsing/job/{{ $('Upload').item.json.id }}/result/raw/markdown",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer llx-3pityHwfBZ3OCuDz99pHgUKMGti0ctIvHHx0more9LPbo3Xp"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "4d1765fb-dcf2-4095-8922-0e9176fc9371",
      "name": "Get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -176
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.data }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "The invoice number or ID",
              "required": true
            },
            {
              "name": "Invoice Date",
              "description": "The date on the invoice",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "The payment due date"
            },
            {
              "name": "Vendor Name",
              "description": "The name of the vendor or supplier",
              "required": true
            },
            {
              "name": "Vendor Address",
              "description": "The address of the vendor or supplier"
            },
            {
              "name": "Client Name",
              "description": "The name of the client or buyer"
            },
            {
              "name": "LineItems",
              "description": "List of line items with description, quantity, unit price and total"
            },
            {
              "name": "Subtotal",
              "description": "The subtotal amount before tax"
            },
            {
              "name": "TaxAmount",
              "description": "The tax amount"
            },
            {
              "name": "TotalAmount",
              "description": "The total amount due",
              "required": true
            },
            {
              "name": "Currency",
              "description": "The currency of the invoice"
            },
            {
              "name": "PaymentTerms",
              "description": "The payment terms"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert invoice data extractor. Extract all relevant invoice information from the provided text accurately and return it in structured format."
        }
      },
      "id": "2cdf442e-091f-409f-8ac8-25b7cfc200aa",
      "name": "Information Extractor",
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1056,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "12kJvz7e1hLLlUNuFJyWZR673Z7AzhSAtG5DZbOvnyO0",
          "mode": "list",
          "cachedResultName": "Invoice Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kJvz7e1hLLlUNuFJyWZR673Z7AzhSAtG5DZbOvnyO0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tax Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12kJvz7e1hLLlUNuFJyWZR673Z7AzhSAtG5DZbOvnyO0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}",
            "Vendor Name": "={{ $json.output['Vendor Name'] }}",
            "LineItems": "={{ $json.output.LineItems }}",
            "Subtotal": "={{ $json.output.Subtotal }}",
            "TaxAmount": "={{ $json.output.TaxAmount }}",
            "TotalAmount": "={{ $json.output.TotalAmount }}",
            "Currency": "={{ $json.output.Currency }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vendor Name",
              "displayName": "Vendor Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LineItems",
              "displayName": "LineItems",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subtotal",
              "displayName": "Subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TaxAmount",
              "displayName": "TaxAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TotalAmount",
              "displayName": "TotalAmount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Currency",
              "displayName": "Currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6cef55ee-b525-4b24-9947-c2e6ad3ff8a6",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1520,
        -176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sNUnw4dnYdTWZGYt",
          "name": "Google Sheets account"
        }
      },
      "notes": "append: sheet"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $('Google Drive Trigger').item.json.name }}"
        }
      },
      "id": "62ffd5fc-24ad-4183-94fd-e618c51f3089",
      "name": "Google Drive2",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1744,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQIRRSYgu0qZaozr",
          "name": "Google Drive account"
        }
      },
      "notes": "download: file"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Google Drive Trigger').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1nfXdoj0cnFmKP8a_fpgcWpGFaWQeIfqH",
          "mode": "list",
          "cachedResultName": "processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1nfXdoj0cnFmKP8a_fpgcWpGFaWQeIfqH"
        },
        "options": {}
      },
      "id": "1b68dcd3-ddd3-491a-979a-452b40d24a9d",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQIRRSYgu0qZaozr",
          "name": "Google Drive account"
        }
      },
      "notes": "upload: file"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "039e90c0-4f5a-4ddc-8a77-4c8240d30b66",
      "name": "Google Drive3",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2192,
        -176
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SQIRRSYgu0qZaozr",
          "name": "Google Drive account"
        }
      },
      "notes": "deleteFile: file"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1056,
        0
      ],
      "id": "7a7787c5-8f46-4394-a3ec-950b4745a39c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "U6As7diUAxOIOq7t",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "be935b11-caf1-4282-be56-521a7a21d0d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e59def87c635e94a68354220114cc1bf1ef2cc62f171668ad0821e45fcdf668e"
  },
  "id": "URs1n4QQ2wFHr9t1",
  "tags": [
    {
      "updatedAt": "2026-04-29T20:42:37.307Z",
      "createdAt": "2026-04-29T20:42:37.307Z",
      "id": "vSoSTEJaZVDKYdmm",
      "name": "Invoice Processing"
    }
  ]
}